{erl_first_files, ["elli/src/elli_handler.erl"]}.
{erl_opts, [debug_info]}.
{deps, [
    {elli, ".*", {git, "git://github.com/knutin/elli.git", {branch, "master"}}},
    {elli_date, ".*", {git, "git://github.com/knutin/elli_date.git", {branch, "master"}}},
    {elli_server_name, ".*", {git, "git://github.com/mmzeeman/elli_server_name.git", {branch, "master"}}},
    {elli_debug, ".*", {git, "git://github.com/mmzeeman/elli_debug.git", {branch, "master"}}},

    %% Needed for some some binary utilities.
    {elli_websocket, ".*", {git, "git://github.com/mmzeeman/elli_websocket.git", {branch, "master"}}}
]}.
