{erl_first_files, ["elli/src/elli_handler.erl"]}.
{erl_opts, [debug_info]}.
{deps, [
    {elli, ".*", {git, "git://github.com/mmzeeman/elli.git", {branch, "ssl+handover"}}},

    %% Needed for some some binary utilities.
    {elli_websocket, ".*", {git, "git://github.com/mmzeeman/elli_websocket.git", {branch, "master"}}}
]}.
